.cmp-search {
  margin-left: 20px;
  padding-left: 20px;
  margin-top: 20px;
}
.cmp-search__form {

}
.cmp-search__field {}
.cmp-search__icon { fill: #FFA500;}
.cmp-search__input {  background-color: #eeeeee;}
.cmp-search__loading-indicator {}
.cmp-search__clear {}
.cmp-search__clear-icon {}
.cmp-search__results {}
.cmp-search__item {}
.cmp-search__item--is-focused {}
.cmp-search__item-mark {}
.cmp-search__item-title {}
