.cmp-image {
  /*margin-top: 2.25em;*/
  margin-top: 0em;
}
.cmp-image__link {
}
.cmp-image__image {
  display: block;
}
.cmp-image__title {
}


.logoImage{

  .cmp-image__image{
    margin-top: -5px;
    padding-top: 0px;

  }


}
